* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: blueviolet;
  overflow-x: hidden;
  color: white;
  font-size: 16px;
  font-family: Lato, sans-serif;
  position: relative;
  line-height: 1.1;
  min-height: 100%;
}

.container {
  max-width: 992px;
}
@media (max-width: 992px) {
  .container {
    width: 100% !important;
  }
}
