* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  font-size: 16px;
  margin: 0;
  padding: 0 0 0 0;
  font-family: sans-serif;
  position: relative;
}

.container {
  max-width: 992px;
}
@media (max-width: 992px) {
  .container {
    width: 100% !important;
  }
}
