.postForm {
  padding: 20px;
  display: block;
  margin: 0 auto;
  text-align: left;
  font-family: Lato, sans-serif;
  font-weight: bold;

  textarea {
    min-height: 100px;
    resize: none;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  label {
    margin-bottom: 5px;
  }
  .btn {
    display: inline-block;
    & + .btn {
      margin-left: 20px;
    }
  }
  .help-block {
    background-color: $errorColor;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    padding: 0 15px;
    @include border-radius(5px);
  }
}
