.posts {
  position: static;
  .list {
    padding: 0;
    list-style: none;
  }
  li {
    & + li {
      margin-top: 10px;
    }
  }
  .post {
    display: block;
    padding: 10px;
    position: relative;
    text-align: left;
    background-color: lavender;
    @include border-radius(5px);
    cursor: pointer;

    .title {
      font-weight: bold;
    }
  }
}

.categories {
  @extend .headingStyle;
  @extend h3;
  .badge {
    vertical-align: middle;
    margin: 2px 3px;
  }
}


