.up {
  font-size: 1.5em;
  padding: 6px 11px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  border-radius: 5px;
  border: none;
  background-color: $normalBlue;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;

}
.up:hover,
.up:active,
.up:focus {
  color: $lightBlue;
  background-color: $darkBlue;
  text-decoration: none;
}

.upToTop {
  position: fixed;
  right: 30px;
  bottom: 20%;
}

.upToTop.hide {
  display: none;
}